<section id="network" class="transition-opacity duration-500 sm:min-h-screen">
  <div class="sm:min-h-screen flex flex-col justify-evenly items-center py-12 sm:px-8">
    <div>
      <h2 class="font-volkhov text-xl lg:text-3xl text-yellow text-center mb-2 xl:mb-4">We're building a CoordiNation across Nations & Cultures.</h2>
      <p class="text-center max-w-md m-auto mb-5 xl:mb-12">CoordiNation (noun): a network-society that exports regenerative digital infrastructure to the world.</p>
    </div>
    <div class="relative flex justify-center w-fit mx-auto mb-8" id="map-container">
      <canvas id="canvas" width="758" height="400" class="flex justify-center z-10 w-[758px] h-[400px] max-w-full h-auto"></canvas>
      <a target="_blank" class="map-selected-link hidden opacity-0 group scale-75 hover:translate-x-1 hover:translate-y-1 cursor-pointer transition-all duration-300 absolute top-0 left-0 right-0 bg-green rounded-full w-24 h-24 flex-col items-center justify-center z-30">
        <p class="map-selected-name text-black text-center shrink-0"></p>
        <span id="more-text" class="group-hover:underline text-xs leading-tight text-black shrink-0 w-fit opacity-70">More -></span>
      </a>
    </div>
    <p class="text-center text-sm">Don't see a chapter in your area? <a class="link !px-0" href="https://bit.ly/greenpill-your-city" target="_blank">Start one.</a></p>
  </div>
</section>
