<section id="participate" class="pb-24 pt-12 sm:min-h-screen max-w-4xl m-auto relative">
  <!-- parallax bg elements -->
  <img data-speed="-1.5" data-movex="300" src="/images/background/bg-el1.png" width="100" height="100" alt="" class="absolute z-0 top-[30vh] parallax-bg" />
  <img data-speed="-1.3" data-movex="950" src="/images/background/bg-el3.png" width="60" height="120" alt="" class="absolute z-0 top-[10vh] left-[15vw] parallax-bg" />
  <img data-speed="-1.1" data-movex="-200" src="/images/background/bg-el2.png" width="100" height="100" alt="" class="absolute z-0 top-[70vh] right-0 parallax-bg" />
  <h2 class="font-volkhov text-xl lg:text-3xl text-yellow mb-4">Participate</h2>
  <div class="flex gap-2 sm:gap-[10%] justify-center relative h-fit">
    <div class="divide-y divide-yellow backdrop-blur-md px-4 flex flex-col gap-6">
      <!-- beginner -->
      <div class="flex sm:flex-row flex-col-reverse sm:items-center justify-between gap-4 px-2 sm:px-8 sm:py-0 py-6 rounded-2xl">
        <div class="sm:py-6 py-2 sm:gap-6 gap-2 flex flex-col justify-center">
          <h3 class="text-lg sm:text-2xl text-yellow mb-6">
            Beginner
          </h3>
          <div class="content flex flex-col gap-2 sm:text-lg text-sm">
            <p class="">Education: </p>

            <div class="flex gap-2 items-center text-green hover:text-[var(--mid-green)] group">
              <svg class="group-hover:translate-x-1 transition-all duration-300" width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 3.5C0.223858 3.5 0 3.72386 0 4C0 4.27614 0.223858 4.5 0.5 4.5V3.5ZM10.3536 4.35355C10.5488 4.15829 10.5488 3.84171 10.3536 3.64645L7.17157 0.464466C6.97631 0.269204 6.65973 0.269204 6.46447 0.464466C6.2692 0.659728 6.2692 0.976311 6.46447 1.17157L9.29289 4L6.46447 6.82843C6.2692 7.02369 6.2692 7.34027 6.46447 7.53553C6.65973 7.7308 6.97631 7.7308 7.17157 7.53553L10.3536 4.35355ZM0.5 4.5H10V3.5H0.5V4.5Z" fill="currentColor" />
              </svg>
              <a href="https://pod.link/1609313639" target="_blank">Listen to the podcast</a>
            </div>
            <div class="flex gap-2 items-center text-green hover:text-[var(--mid-green)] group">
              <svg class="group-hover:translate-x-1 transition-all duration-300" width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 3.5C0.223858 3.5 0 3.72386 0 4C0 4.27614 0.223858 4.5 0.5 4.5V3.5ZM10.3536 4.35355C10.5488 4.15829 10.5488 3.84171 10.3536 3.64645L7.17157 0.464466C6.97631 0.269204 6.65973 0.269204 6.46447 0.464466C6.2692 0.659728 6.2692 0.976311 6.46447 1.17157L9.29289 4L6.46447 6.82843C6.2692 7.02369 6.2692 7.34027 6.46447 7.53553C6.65973 7.7308 6.97631 7.7308 7.17157 7.53553L10.3536 4.35355ZM0.5 4.5H10V3.5H0.5V4.5Z" fill="currentColor" />
              </svg>
              <a href="https://www.youtube.com/@Green_Pill_Podcast" target="_blank">Check out the Youtube</a>
            </div>
            <div class="flex gap-2 items-center text-green hover:text-[var(--mid-green)] group">
              <svg class="group-hover:translate-x-1 transition-all duration-300" width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 3.5C0.223858 3.5 0 3.72386 0 4C0 4.27614 0.223858 4.5 0.5 4.5V3.5ZM10.3536 4.35355C10.5488 4.15829 10.5488 3.84171 10.3536 3.64645L7.17157 0.464466C6.97631 0.269204 6.65973 0.269204 6.46447 0.464466C6.2692 0.659728 6.2692 0.976311 6.46447 1.17157L9.29289 4L6.46447 6.82843C6.2692 7.02369 6.2692 7.34027 6.46447 7.53553C6.65973 7.7308 6.97631 7.7308 7.17157 7.53553L10.3536 4.35355ZM0.5 4.5H10V3.5H0.5V4.5Z" fill="currentColor" />
              </svg>
              <a href="#book">Read/share the book(s)</a>
            </div>
            <div class="flex gap-2 items-center text-green hover:text-[var(--mid-green)] group">
              <svg class="group-hover:translate-x-1 transition-all duration-300" width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 3.5C0.223858 3.5 0 3.72386 0 4C0 4.27614 0.223858 4.5 0.5 4.5V3.5ZM10.3536 4.35355C10.5488 4.15829 10.5488 3.84171 10.3536 3.64645L7.17157 0.464466C6.97631 0.269204 6.65973 0.269204 6.46447 0.464466C6.2692 0.659728 6.2692 0.976311 6.46447 1.17157L9.29289 4L6.46447 6.82843C6.2692 7.02369 6.2692 7.34027 6.46447 7.53553C6.65973 7.7308 6.97631 7.7308 7.17157 7.53553L10.3536 4.35355ZM0.5 4.5H10V3.5H0.5V4.5Z" fill="currentColor" />
              </svg>
              <a href="https://app.charmverse.io/greenpill-network/taking-the-greenpill-4871995012783201" target="_blank">Taking The Greenpill</a>
            </div>
            <div class="flex gap-2 items-center text-green hover:text-[var(--mid-green)] group">
              <svg class="group-hover:translate-x-1 transition-all duration-300" width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 3.5C0.223858 3.5 0 3.72386 0 4C0 4.27614 0.223858 4.5 0.5 4.5V3.5ZM10.3536 4.35355C10.5488 4.15829 10.5488 3.84171 10.3536 3.64645L7.17157 0.464466C6.97631 0.269204 6.65973 0.269204 6.46447 0.464466C6.2692 0.659728 6.2692 0.976311 6.46447 1.17157L9.29289 4L6.46447 6.82843C6.2692 7.02369 6.2692 7.34027 6.46447 7.53553C6.65973 7.7308 6.97631 7.7308 7.17157 7.53553L10.3536 4.35355ZM0.5 4.5H10V3.5H0.5V4.5Z" fill="currentColor" />
              </svg>
              <a href="https://app.charmverse.io/greenpill-network/" target="_blank">Charmverse Workspace</a>
            </div>
            <p class="">Socials: </p>
            <div class="flex gap-2 items-center text-green hover:text-[var(--mid-green)] group">
              <svg class="group-hover:translate-x-1 transition-all duration-300" width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 3.5C0.223858 3.5 0 3.72386 0 4C0 4.27614 0.223858 4.5 0.5 4.5V3.5ZM10.3536 4.35355C10.5488 4.15829 10.5488 3.84171 10.3536 3.64645L7.17157 0.464466C6.97631 0.269204 6.65973 0.269204 6.46447 0.464466C6.2692 0.659728 6.2692 0.976311 6.46447 1.17157L9.29289 4L6.46447 6.82843C6.2692 7.02369 6.2692 7.34027 6.46447 7.53553C6.65973 7.7308 6.97631 7.7308 7.17157 7.53553L10.3536 4.35355ZM0.5 4.5H10V3.5H0.5V4.5Z" fill="currentColor" />
              </svg>
              <a href="https://discord.gg/greenpill">
                Join the Discord
              </a>
            </div>
            <div class="flex gap-2 items-center text-green hover:text-[var(--mid-green)] group">
              <svg class="group-hover:translate-x-1 transition-all duration-300" width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 3.5C0.223858 3.5 0 3.72386 0 4C0 4.27614 0.223858 4.5 0.5 4.5V3.5ZM10.3536 4.35355C10.5488 4.15829 10.5488 3.84171 10.3536 3.64645L7.17157 0.464466C6.97631 0.269204 6.65973 0.269204 6.46447 0.464466C6.2692 0.659728 6.2692 0.976311 6.46447 1.17157L9.29289 4L6.46447 6.82843C6.2692 7.02369 6.2692 7.34027 6.46447 7.53553C6.65973 7.7308 6.97631 7.7308 7.17157 7.53553L10.3536 4.35355ZM0.5 4.5H10V3.5H0.5V4.5Z" fill="currentColor" />
              </svg>
              <a href="https://hub.greenpill.network">
                Join the Hub
              </a>
            </div>
            <div class="flex gap-2 items-center text-green hover:text-[var(--mid-green)] group">
              <svg class="group-hover:translate-x-1 transition-all duration-300" width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 3.5C0.223858 3.5 0 3.72386 0 4C0 4.27614 0.223858 4.5 0.5 4.5V3.5ZM10.3536 4.35355C10.5488 4.15829 10.5488 3.84171 10.3536 3.64645L7.17157 0.464466C6.97631 0.269204 6.65973 0.269204 6.46447 0.464466C6.2692 0.659728 6.2692 0.976311 6.46447 1.17157L9.29289 4L6.46447 6.82843C6.2692 7.02369 6.2692 7.34027 6.46447 7.53553C6.65973 7.7308 6.97631 7.7308 7.17157 7.53553L10.3536 4.35355ZM0.5 4.5H10V3.5H0.5V4.5Z" fill="currentColor" />
              </svg>
              <a href="https://t.me/+g9TM8i7GpxAzMGUx">
                Join the Telegram
              </a>
            </div>
            <div class="flex gap-2 items-center text-green hover:text-[var(--mid-green)] group">
              <svg class="group-hover:translate-x-1 transition-all duration-300" width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 3.5C0.223858 3.5 0 3.72386 0 4C0 4.27614 0.223858 4.5 0.5 4.5V3.5ZM10.3536 4.35355C10.5488 4.15829 10.5488 3.84171 10.3536 3.64645L7.17157 0.464466C6.97631 0.269204 6.65973 0.269204 6.46447 0.464466C6.2692 0.659728 6.2692 0.976311 6.46447 1.17157L9.29289 4L6.46447 6.82843C6.2692 7.02369 6.2692 7.34027 6.46447 7.53553C6.65973 7.7308 6.97631 7.7308 7.17157 7.53553L10.3536 4.35355ZM0.5 4.5H10V3.5H0.5V4.5Z" fill="currentColor" />
              </svg>
              <a href="https://warpcast.com/~/channel/green-pill">
                Follow the Warpcast Channel
              </a>
            </div>

            <div class="flex gap-2 items-center text-green hover:text-[var(--mid-green)] group">
              <svg class="group-hover:translate-x-1 transition-all duration-300" width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 3.5C0.223858 3.5 0 3.72386 0 4C0 4.27614 0.223858 4.5 0.5 4.5V3.5ZM10.3536 4.35355C10.5488 4.15829 10.5488 3.84171 10.3536 3.64645L7.17157 0.464466C6.97631 0.269204 6.65973 0.269204 6.46447 0.464466C6.2692 0.659728 6.2692 0.976311 6.46447 1.17157L9.29289 4L6.46447 6.82843C6.2692 7.02369 6.2692 7.34027 6.46447 7.53553C6.65973 7.7308 6.97631 7.7308 7.17157 7.53553L10.3536 4.35355ZM0.5 4.5H10V3.5H0.5V4.5Z" fill="currentColor" />
              </svg>
              <a href="https://twitter.com/greenpillnet">
                Follow the Twitter
              </a>
            </div>

          </div>
        </div>
        <img src="/images/resource1.png" class="w-[80px] h-[80px] sm:w-[250px] sm:h-[250px] 2xl:w-[434px] 2xl:h-[434px]" alt="" width="434" height="434" />
      </div>
      <!-- intermediate -->
      <div class="flex sm:flex-row flex-col-reverse sm:items-center justify-between gap-4 px-2 sm:px-8 sm:py-0 py-6 rounded-2xl">
        <div class="sm:py-6 py-2 sm:gap-6 gap-2 flex flex-col justify-center">
          <h3 class="text-lg sm:text-2xl text-yellow mb-6">
            Intermediate
          </h3>
          <div class="content flex flex-col gap-2 sm:text-lg text-sm">

            <div class="flex gap-2 items-center text-green hover:text-[var(--mid-green)] group">
              <svg class="group-hover:translate-x-1 transition-all duration-300" width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 3.5C0.223858 3.5 0 3.72386 0 4C0 4.27614 0.223858 4.5 0.5 4.5V3.5ZM10.3536 4.35355C10.5488 4.15829 10.5488 3.84171 10.3536 3.64645L7.17157 0.464466C6.97631 0.269204 6.65973 0.269204 6.46447 0.464466C6.2692 0.659728 6.2692 0.976311 6.46447 1.17157L9.29289 4L6.46447 6.82843C6.2692 7.02369 6.2692 7.34027 6.46447 7.53553C6.65973 7.7308 6.97631 7.7308 7.17157 7.53553L10.3536 4.35355ZM0.5 4.5H10V3.5H0.5V4.5Z" fill="currentColor" />
              </svg>
              <a href="#network">
                Join a local chapter
              </a>
            </div>
            <div class="flex gap-2 items-center text-green hover:text-[var(--mid-green)] group">
              <svg class="group-hover:translate-x-1 transition-all duration-300" width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 3.5C0.223858 3.5 0 3.72386 0 4C0 4.27614 0.223858 4.5 0.5 4.5V3.5ZM10.3536 4.35355C10.5488 4.15829 10.5488 3.84171 10.3536 3.64645L7.17157 0.464466C6.97631 0.269204 6.65973 0.269204 6.46447 0.464466C6.2692 0.659728 6.2692 0.976311 6.46447 1.17157L9.29289 4L6.46447 6.82843C6.2692 7.02369 6.2692 7.34027 6.46447 7.53553C6.65973 7.7308 6.97631 7.7308 7.17157 7.53553L10.3536 4.35355ZM0.5 4.5H10V3.5H0.5V4.5Z" fill="currentColor" />
              </svg>
              <a href="https://app.charmverse.io/greenpill-network/guilds-29059086676991">
                Join a guild
              </a>
            </div>
            <div class="flex gap-2 items-center text-green hover:text-[var(--mid-green)] group">
              <svg class="group-hover:translate-x-1 transition-all duration-300" width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 3.5C0.223858 3.5 0 3.72386 0 4C0 4.27614 0.223858 4.5 0.5 4.5V3.5ZM10.3536 4.35355C10.5488 4.15829 10.5488 3.84171 10.3536 3.64645L7.17157 0.464466C6.97631 0.269204 6.65973 0.269204 6.46447 0.464466C6.2692 0.659728 6.2692 0.976311 6.46447 1.17157L9.29289 4L6.46447 6.82843C6.2692 7.02369 6.2692 7.34027 6.46447 7.53553C6.65973 7.7308 6.97631 7.7308 7.17157 7.53553L10.3536 4.35355ZM0.5 4.5H10V3.5H0.5V4.5Z" fill="currentColor" />
              </svg>
              <p style="color:white">
                Join an ImpactDAO (
                <a class="link" style="padding: 0px!important" href="https://greenpill.network/pdf/ImpactDAO.pdf">
                  ImpactDAO Book
                </a> ,
                <a class="link" style="padding: 0px!important" href="https://impactdaos.xyz/daos"> ImpactDAOs.xyz
                  directory
                </a>
                )
              </p>
            </div>
            <p class="pl-5">Tell a friend.</p>
          </div>
        </div>
        <img src="/images/resource2.png" class="w-[80px] h-[80px] sm:w-[250px] sm:h-[250px] 2xl:w-[434px] 2xl:h-[434px]" alt="" width="434" height="434" />
      </div>
      <!-- advanced -->
      <div class="flex sm:flex-row flex-col-reverse sm:items-center justify-between gap-4 px-2 sm:px-8 sm:py-0 py-6 rounded-2xl">
        <div class="sm:py-6 py-2 sm:gap-6 gap-2 flex flex-col justify-center">
          <h3 class="text-lg sm:text-2xl text-yellow mb-6">
            Advanced
          </h3>
          <div class="content flex flex-col gap-2 sm:text-lg text-xs">

            <div class="flex gap-2 items-center text-green hover:text-[var(--mid-green)] group">
              <svg class="group-hover:translate-x-1 transition-all duration-300" width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 3.5C0.223858 3.5 0 3.72386 0 4C0 4.27614 0.223858 4.5 0.5 4.5V3.5ZM10.3536 4.35355C10.5488 4.15829 10.5488 3.84171 10.3536 3.64645L7.17157 0.464466C6.97631 0.269204 6.65973 0.269204 6.46447 0.464466C6.2692 0.659728 6.2692 0.976311 6.46447 1.17157L9.29289 4L6.46447 6.82843C6.2692 7.02369 6.2692 7.34027 6.46447 7.53553C6.65973 7.7308 6.97631 7.7308 7.17157 7.53553L10.3536 4.35355ZM0.5 4.5H10V3.5H0.5V4.5Z" fill="currentColor" />
              </svg>
              <a href="https://forms.gle/dMKCDqQR1ACXQ2CZ9">Write a local regen guide</a>
            </div>
            <div class="flex gap-2 items-center text-green hover:text-[var(--mid-green)] group">
              <svg class="group-hover:translate-x-1 transition-all duration-300" width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 3.5C0.223858 3.5 0 3.72386 0 4C0 4.27614 0.223858 4.5 0.5 4.5V3.5ZM10.3536 4.35355C10.5488 4.15829 10.5488 3.84171 10.3536 3.64645L7.17157 0.464466C6.97631 0.269204 6.65973 0.269204 6.46447 0.464466C6.2692 0.659728 6.2692 0.976311 6.46447 1.17157L9.29289 4L6.46447 6.82843C6.2692 7.02369 6.2692 7.34027 6.46447 7.53553C6.65973 7.7308 6.97631 7.7308 7.17157 7.53553L10.3536 4.35355ZM0.5 4.5H10V3.5H0.5V4.5Z" fill="currentColor" />
              </svg>
              <a href="https://bit.ly/greenpill-your-city">Start a local chapter</a>
            </div>
            <p class="pl-5">Start an ImpactDAO</p>
            <p class="pl-5">Distribute the book/podcast/<a href="https://gov.gitcoin.co/t/make-your-own-green-pills/10521">meme</a>.</p>
            <p class="pl-5">Organize a teachback (meetup or written).</p>
            <p class="pl-5">Run a regenerative experiment in your local community.</p>
            <p class="pl-5">Come up with your own way of contributing.</p>
          </div>
        </div>
        <img src="/images/resource3.png" class="w-[80px] h-[80px] sm:w-[250px] sm:h-[250px] 2xl:w-[434px] 2xl:h-[434px]" alt="" width="434" height="434" />
      </div>
      <!-- partner -->
      <div class="flex sm:flex-row flex-col-reverse sm:items-center justify-between gap-4 px-2 sm:px-8 sm:py-0 py-6 rounded-2xl">
        <div class="sm:py-6 py-2 sm:gap-6 gap-2 flex flex-col justify-center">
          <h3 class="text-lg sm:text-2xl text-yellow mb-6">
            Partnerships & Sponsorships
          </h3>
          <div class="content flex flex-col gap-2 sm:text-lg text-sm">
            <p class="pl-5">
              If you represent an organization that would like to partner with the greenpill network, please get in
              touch in the #introduce-yourself channel <a href="https://discord.gg/greenpill" class=" text-green hover:text-[var(--mid-green)] transition-all" target="_blank"> via discord</a>.
            </p>
            <p class="pl-5">
            </p>
          </div>
          <div class="py-6 gap-6 flex flex-col justify-center">
            <h3 class="text-lg sm:text-xl text-yellow mb-2 pl-4">
              Other Regen Conveners
            </h3>
            <p class="pl-5">
              Pluralism is strength! The greenpill network is built to be interoperable with the other great
              conveners
              out there in the regen x web3 ecosystem.
              These other organizations share a similar mission/ethos and offer complimentary resources to the
              Greenpill.network.
            </p>
            <div class="pl-5">
              <div class="flex gap-2 items-center text-green hover:text-[var(--mid-green)] group">
                <svg class="group-hover:translate-x-1 transition-all duration-300" width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.5 3.5C0.223858 3.5 0 3.72386 0 4C0 4.27614 0.223858 4.5 0.5 4.5V3.5ZM10.3536 4.35355C10.5488 4.15829 10.5488 3.84171 10.3536 3.64645L7.17157 0.464466C6.97631 0.269204 6.65973 0.269204 6.46447 0.464466C6.2692 0.659728 6.2692 0.976311 6.46447 1.17157L9.29289 4L6.46447 6.82843C6.2692 7.02369 6.2692 7.34027 6.46447 7.53553C6.65973 7.7308 6.97631 7.7308 7.17157 7.53553L10.3536 4.35355ZM0.5 4.5H10V3.5H0.5V4.5Z" fill="currentColor" />
                </svg>
                <a href="https://www.regencoordination.xyz/">
                  Regen Coordination
                </a>
              </div>
              <div class="flex gap-2 items-center text-green hover:text-[var(--mid-green)] group">
                <svg class="group-hover:translate-x-1 transition-all duration-300" width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.5 3.5C0.223858 3.5 0 3.72386 0 4C0 4.27614 0.223858 4.5 0.5 4.5V3.5ZM10.3536 4.35355C10.5488 4.15829 10.5488 3.84171 10.3536 3.64645L7.17157 0.464466C6.97631 0.269204 6.65973 0.269204 6.46447 0.464466C6.2692 0.659728 6.2692 0.976311 6.46447 1.17157L9.29289 4L6.46447 6.82843C6.2692 7.02369 6.2692 7.34027 6.46447 7.53553C6.65973 7.7308 6.97631 7.7308 7.17157 7.53553L10.3536 4.35355ZM0.5 4.5H10V3.5H0.5V4.5Z" fill="currentColor" />
                </svg>
                <a href="https://www.regensunite.earth/">
                  Regens Unite
                </a>
              </div>
              <div class="flex gap-2 items-center text-green hover:text-[var(--mid-green)] group">
                <svg class="group-hover:translate-x-1 transition-all duration-300" width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.5 3.5C0.223858 3.5 0 3.72386 0 4C0 4.27614 0.223858 4.5 0.5 4.5V3.5ZM10.3536 4.35355C10.5488 4.15829 10.5488 3.84171 10.3536 3.64645L7.17157 0.464466C6.97631 0.269204 6.65973 0.269204 6.46447 0.464466C6.2692 0.659728 6.2692 0.976311 6.46447 1.17157L9.29289 4L6.46447 6.82843C6.2692 7.02369 6.2692 7.34027 6.46447 7.53553C6.65973 7.7308 6.97631 7.7308 7.17157 7.53553L10.3536 4.35355ZM0.5 4.5H10V3.5H0.5V4.5Z" fill="currentColor" />
                </svg>
                <a href="https://impactdaos.xyz/">
                  ImpactDAOS.xyz
                </a>
              </div>

              <div class="flex gap-2 items-center text-green hover:text-[var(--mid-green)] group">
                <svg class="group-hover:translate-x-1 transition-all duration-300" width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.5 3.5C0.223858 3.5 0 3.72386 0 4C0 4.27614 0.223858 4.5 0.5 4.5V3.5ZM10.3536 4.35355C10.5488 4.15829 10.5488 3.84171 10.3536 3.64645L7.17157 0.464466C6.97631 0.269204 6.65973 0.269204 6.46447 0.464466C6.2692 0.659728 6.2692 0.976311 6.46447 1.17157L9.29289 4L6.46447 6.82843C6.2692 7.02369 6.2692 7.34027 6.46447 7.53553C6.65973 7.7308 6.97631 7.7308 7.17157 7.53553L10.3536 4.35355ZM0.5 4.5H10V3.5H0.5V4.5Z" fill="currentColor" />
                </svg>
                <a href="https://www.refidao.com/">
                  RefiDAO
                </a>
              </div>
            </div>
          </div>
        </div>
        <img src="/images/resource4.png" class="w-[80px] h-[80px] sm:w-[250px] sm:h-[250px] 2xl:w-[434px] 2xl:h-[434px]" alt="" width="434" height="434" />
      </div>
    </div>
  </div>
</section>
