---
interface Props {
  id: string;
  title: string;
  translations: Array<{ language: string; link: string }>;
}
const { id, title, translations } = Astro.props;
---

<div id={`${id}-modal`} class="overlay hidden">
  <div class="modal hidden max-w-sm max-h-[85vh] overflow-y-scroll">
    <div class="m-auto max-w-sm border border-[var(--mid-green)] rounded-[20px] bg-black bg-opacity-90">
      <h5 class="font-bold text-yellow my-3 text-center">{title}</h5>
      <h5 class="font-bold text-yellow my-3 text-center">Translations</h5>
      <div class="divide-y divide-green flex flex-col mb-4">
        {translations.map((t) => (
          <a href={t.link} target="_blank" class="link !font-bold">
            {t.language}
          </a>
        ))}
      </div>
    </div>
  </div>
</div>
