---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{title}</title>
  <meta name="description" content={description} />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Volkhov&display=swap"
    rel="stylesheet" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" href="/images/greenpill-logo-large.png" type="image/png" sizes="150x150" />
  <link rel="shortcut icon" href="/favicon.ico" />

  <meta property="og:title" content={title} />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://greenpill.network/explorer" />
  <meta property="og:image" content="https://greenpill.network/images/greenpill-twitter-card.png" />
  <meta property="og:description" content={description} />

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DPDC59RT5Y"></script>
  <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-DPDC59RT5Y');
  </script>
</head>

<body class="explorer-body">
  <slot />
</body>

</html>
